html,
body {
  border: none;
  background-color: transparent;
}

@keyframes glow {
  0%,
  100% {
    text-shadow:
      0 0 8px #fff,
      0 0 15px #ff0,
      0 0 25px #ff0,
      0 0 30px #ff0,
      0 0 45px #ff0,
      0 0 50px #ff0,
      0 0 35px #ff0;
  }
  50% {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #ff0,
      0 0 30px #ff0,
      0 0 40px #ff0,
      0 0 50px #ff0,
      0 0 60px #ff0,
      0 0 70px #ff0;
  }
}

.glow {
  animation: glow 2.5s infinite alternate;
}
